#main-content { font-family: 'Times New Roman',Times,serif; color: black; font-size: 16pt; border: black 1pt solid; padding: 10pt; }
#main-content-header { font-size: 14pt; border: black 1pt solid; }
#main-content-body { font-size: 12pt; border: black 1pt solid; margin: 20pt; padding: 10pt; }
div.page { border: 1pt black solid; padding-bottom: 10pt; }
p.title { font-size: 24pt; text-align: center; }
p.subtitle { font-size: 18pt; text-align: center; }
p.responsibility { font-size: 12pt; text-align: center; }
p.author { font-size: 16pt; text-align: center; font-variant:small-caps; }
p.publisher { font-size: 12pt; text-align: center; }
p.license { font-size: 12pt; text-align: center; }
p.date { font-size: 12pt; text-align: center; }
p.main-content-body-paragraph { font-size: 14pt; text-align: justify; }
p.main-content-body-subparagraph { margin-left: 20pt; font-size: 14pt; }
p.set-margin-header { margin-left: 20pt; margin-right: 20pt; }
span.literature-author { font-variant: small-caps; }
span.literature-title { font-style: italic; }
p.link-to-facsimiles { font-size: 12pt; text-align: left; margin-left: 20pt; }
p.link-to-facsimiles a:link { color: black; text-decoration: underline; }
p.link-to-facsimiles a:hover { color: black; text-decoration: underline; }
p.link-to-facsimiles a:active { color: black; text-decoration: underline; }
p.link-to-facsimiles a:visited { color: black; text-decoration: underline; }
p.physical-description { font-size: 12pt; text-align:left; margin-left: 20pt; }
p.page-number { margin-left: 10pt; font-weight: bold; margin-top: 10pt; }
p.manuscript-content { margin-left: 20pt; font-size: 12pt; margin-top: 12pt; margin-bottom: 5pt; }
span.liturgical-agent { margin-left: 8pt; padding: 4pt; border: 1pt solid blue; color: blue; border-radius: 4pt; }
span.liturgical-calendar { margin-left: 8pt; margin-right: 8pt; padding: 4pt; border: 1pt solid #ab5c4f; color: #ab5c4f; border-radius: 4pt; }
span.liturgical-unit { margin-left: 8pt; margin-right: 8pt; padding: 4pt; border: 1pt solid #5d6c81; color: #5d6c81; border-radius: 4pt; }
span.error { margin-left: 8pt; padding: 4pt; color: red; font-weight: bold; border: 1pt solid red; border-radius: 4pt; }
span.line-number { margin-right: 10pt; margin-left: 10pt; font-style: normal; }
span.red-ink-bold { font-weight: bold; color: #ab5c4f; }
span.red-ink { font-weight: normal; color: #ab5c4f; }
span.heading { margin-left: 30pt; font-size: 16pt; }
div.manuscript-content { margin-left: 20pt; font-size: 16pt; margin-top: -20pt; line-height: 16pt; }
span.liturgical-agent-inline { font-size: 12pt; margin-left: 8pt; margin-right: 8pt; padding: 4pt; border: 1pt solid blue; color: blue; border-radius: 4pt; }
span.liturgical-calendar-inline { font-size: 12pt; margin-left: 8pt; margin-right: 8pt; padding: 4pt; border: 1pt solid #ab5c4f; color: #ab5c4f; border-radius: 4pt; }
span.liturgical-unit-inline { font-size: 12pt; margin-left: 8pt; margin-right: 8pt; padding: 4pt; border: 1pt solid #5d6c81; color: #5d6c81; border-radius: 4pt; }
span.error-inline { font-size: 12pt; margin-left: 8pt; margin-right: 8pt; padding: 4pt; color: red; font-weight: bold; border: 1pt solid red; border-radius: 4pt; }
span.hidden { display: none; }
span.visible { display: inline; }
span.lit-cal { color: #ab5c4f; margin: 2.5pt; }
span.lit-unit { color: #5d6c81; margin: 2.5pt; }
div.add-padding { padding: 20pt; }
div.liturgical-units { font-size: 14pt; border: black 1pt solid; padding: 10pt; margin: 5pt; }
p.heading-liturgical-calendar { color: #ab5c4f; }
p.content-liturgical-calendar { padding-left: 20pt; color: black; }
span.around-links-to-liturgical-units { margin-right: 5pt; }
p.content-liturgical-calendar a:link { color: black; text-decoration: underline; }
p.content-liturgical-calendar a:hover { color: #ab4c4f; text-decoration: underline; }
p.content-liturgical-calendar a:active { color: black; text-decoration: underline; }
p.content-liturgical-calendar a:visited { color: black; text-decoration: underline; }
p.heading-liturgical-units { color: #5d6c81; }
p.content-liturgical-units { padding-left: 20pt; color: black; }
p.content-liturgical-units a:link { color: black; text-decoration: underline; }
p.content-liturgical-units a:hover { color: #5d6c81; text-decoration: underline; }
p.content-liturgical-units a:active { color: black; text-decoration: underline; }
p.content-liturgical-units a:visited { color: black; text-decoration: underline; }
.set-offset-for-anchors { display: inline; position: relative; top: -120px; visibility: hidden; }
#go-to-top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#go-to-top-button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}